<% include ../partials/header.ejs %>
        <div class="container">
            <div class="row">
                <h1 style="text-align: center">Add a Comment to <%= photo.title%></h1>

                <div style="width: 50%; margin-left: auto; margin-right: auto;">
                    <form action="/photo/<%= photo._id%>/comment" method="POST">
                        <div class="form-group">
                            <textarea  class ="form-control" name = comment[text] placeholder="comment" style="height:200px" required></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-md btn-primary btn-block">Submit</button>
                        </div>
                        <a href="/photo/<%= photo._id%>">Go Back</a>
                    </form>
                </div>
            </div>
        </div>
<% include ../partials/footer.ejs %>