.mythumbnail{
    border:0 solid #fff;
}
.thumbnail img{
    width: 100%;
}

.delete-form {
    display: inline;
}

.my-center{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#map{
    height: 400px;
    width: 100%;
}


