body {
    padding-top: 70px
}
.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;

}
.navbar-inverse {
  background: #2c3e50;
  color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse a{
  color:white;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}

#mythumbnail{
    border:0 solid #fff;
}
.thumbnail img{
    width: 100%;
}

.delete-form {
    display: inline;
}

.my-center{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#map{
    height: 400px;
    width: 100%;
    margin-bottom: 15px
}

