<% include ../partials/header.ejs %>
        <div class="container">
            <div class="row">
                <div class="my-center">
                    <h1 class="text-center">Please Add a New Photo</h1>
                    <form action="/photo" method="POST">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input  class ="form-control" id="title" type = "text" name = photo[title] placeholder="Winter" required>
                        </div>
                        <div class="form-group">
                            <label for="source">Image URL</label>
                            <input class ="form-control" id="source" type = "text" name = photo[source] placeholder="https://..." required>
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input class ="form-control" id="location" type = "text" name = photo[location] placeholder="Columbus OH" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class ="form-control" id="description" name = photo[description] placeholder="Snow in Columbus" style="height:200px"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit</button>
                        </div>
                        <a href="/photo">Go Back</a>
                    </form>
                </div>
            </div>
        </div>
<% include ../partials/footer.ejs %>